li
{   text-decoration: underline;
	display: inline;
	padding-right: 20px;
	float: right;
	font-size: 20px;
	
}
ul li a:hover
{
   color:white;
}

body 
{
     font-family: 'Open Sans', serif;
     font-size: 24px;
 }

.part1
{
	background-color: #C9C3C8;
	
	
}
img
{
	width:960px;
    height:400px;
}
h1
{
	font-size: 40px;
}
.part2
{    
	background-color: #776662;
	}
.part3
{
	padding-top: 10px;
	background-color: grey;
}
.icon
{   color:blue;
	align-self: center;
}
i:hover
{   
	
	color:white;
}
